html, body {
  height: 100%;
}

#root {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-paper {
  flex-grow: 1;
  padding: 32px;
  margin: 32px;
  max-width: 500px;
}